{% extends "layouts/base.html" %}

{% block body %}
<div class="min-h-screen bg-background text-on-surface">
    {% include "components/sidebar_" ~ station_id ~ ".html" %}
    <div class="lg:pl-72 flex flex-col min-h-screen">
        {% include "components/topnav.html" %}
        <main class="relative flex-grow pt-14 w-full px-4 sm:px-6 lg:px-canvas-margin overflow-x-hidden">
            <div class="flex flex-col w-full space-y-space-md select-none pb-space-xl mt-space-md">
                {% block dashboard_content %}{% endblock %}
            </div>
        </main>
    </div>
</div>
{% endblock %}
